<header style="background-image: url({{ site.backgroundImage }}); background-size: cover">
  <nav>
    <ul>
      {% for nav in collections.primary %}
        <li {% if page.url == nav.url %}class="current"{% endif %}>
          <a href="{{ nav.url }}" style="color: white;">{{ nav.data.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>